<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sioola" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sioola" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <div class="row">
        <aside class="col-md-2 left-bar">
          <section class="user-info">
            <h1 class="truncate">
              <img src="<%= current_user.image_url %>" />
              <%= current_user.name %>
            </h1>
            <div class="list-group">
              <a href="#" class="list-group-item"><%= fa_icon "list" %> My stash</a>
              <a href="#" class="list-group-item"><%= fa_icon "heart-o" %> Favourites</a>
              <a href="#" class="list-group-item"><%= fa_icon "child" %> Followers</a>
              <a href="#" class="list-group-item"><%= fa_icon "comment-o" %> Message</a>
            </div>
          </section>
        </aside>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
